Propor.Rproj filter=lfs diff=lfs merge=lfs -text
Data filter=lfs diff=lfs merge=lfs -text
Datasets filter=lfs diff=lfs merge=lfs -text
Results filter=lfs diff=lfs merge=lfs -text
Scrips filter=lfs diff=lfs merge=lfs -text
/unins000.exe filter=lfs diff=lfs merge=lfs -text
/unins000.msg filter=lfs diff=lfs merge=lfs -text
/git-cmd.exe filter=lfs diff=lfs merge=lfs -text
/proc filter=lfs diff=lfs merge=lfs -text
/git-bash.exe filter=lfs diff=lfs merge=lfs -text
/LICENSE.txt filter=lfs diff=lfs merge=lfs -text
/mingw64 filter=lfs diff=lfs merge=lfs -text
C:/Users/Asilva/AppData/Local/Temp filter=lfs diff=lfs merge=lfs -text
unlists/** filter=lfs diff=lfs merge=lfs -text
Data/delaf.json filter=lfs diff=lfs merge=lfs -text
Data/Propor filter=lfs diff=lfs merge=lfs -text
Data/relations.csv filter=lfs diff=lfs merge=lfs -text
Data/SemEval2012 filter=lfs diff=lfs merge=lfs -text
Data/stopwords-pt.txt filter=lfs diff=lfs merge=lfs -text
Data/tep.json filter=lfs diff=lfs merge=lfs -text
Datasets/Datasets filter=lfs diff=lfs merge=lfs -text
Results/svm-run-results-clear.csv filter=lfs diff=lfs merge=lfs -text
Results/svm-run-results-synonym-hyponym.csv filter=lfs diff=lfs merge=lfs -text
Results/glm-run-results-synonym-hyponym.csv filter=lfs diff=lfs merge=lfs -text
Results/mainscript-glm-run-synonim.R filter=lfs diff=lfs merge=lfs -text
Results/mainscript-glm-run-synonim-hyponym.R filter=lfs diff=lfs merge=lfs -text
Results/mainscript-grnn-run-synonim.R filter=lfs diff=lfs merge=lfs -text
Results/mainscript-grnn-run-synonim-hyponym.R filter=lfs diff=lfs merge=lfs -text
Results/glm-run-results-clear.csv filter=lfs diff=lfs merge=lfs -text
Results/glm-run-results-synonim.csv filter=lfs diff=lfs merge=lfs -text
Results/mainscript-glm-run-clear.R filter=lfs diff=lfs merge=lfs -text
Results/mainscript-grnn-run-clear.R filter=lfs diff=lfs merge=lfs -text
Results/svm-run-results-synonim.csv filter=lfs diff=lfs merge=lfs -text
Scripts/** filter=lfs diff=lfs merge=lfs -text
