test-gold/STS.gs.surprise.SMTnews.txt filter=lfs diff=lfs merge=lfs -text
test-gold/STS.input.MSRvid.txt filter=lfs diff=lfs merge=lfs -text
test-gold/STS.input.surprise.OnWN.txt filter=lfs diff=lfs merge=lfs -text
test-gold/STS.input.surprise.SMTnews.txt filter=lfs diff=lfs merge=lfs -text
test-gold/00-readme.txt filter=lfs diff=lfs merge=lfs -text
test-gold/STS.gs.ALL.txt filter=lfs diff=lfs merge=lfs -text
test-gold/STS.gs.MSRpar.txt filter=lfs diff=lfs merge=lfs -text
test-gold/STS.gs.MSRvid.txt filter=lfs diff=lfs merge=lfs -text
test-gold/STS.gs.SMTeuroparl.txt filter=lfs diff=lfs merge=lfs -text
test-gold/STS.gs.surprise.OnWN.txt filter=lfs diff=lfs merge=lfs -text
test-gold/STS.input.MSRpar.txt filter=lfs diff=lfs merge=lfs -text
test-gold/STS.input.SMTeuroparl.txt filter=lfs diff=lfs merge=lfs -text
train/00-readme.txt filter=lfs diff=lfs merge=lfs -text
train/correlation.pl filter=lfs diff=lfs merge=lfs -text
train/STS.gs.SMTeuroparl.txt filter=lfs diff=lfs merge=lfs -text
train/STS.input.SMTeuroparl.txt filter=lfs diff=lfs merge=lfs -text
train/STS.output.MSRpar.txt filter=lfs diff=lfs merge=lfs -text
train/STS.gs.MSRpar.txt filter=lfs diff=lfs merge=lfs -text
train/STS.gs.MSRvid.txt filter=lfs diff=lfs merge=lfs -text
train/STS.input.MSRpar.txt filter=lfs diff=lfs merge=lfs -text
train/STS.input.MSRvid.txt filter=lfs diff=lfs merge=lfs -text
